{
    "database": {
        "dialect": "sqlite",
        "storage": "database/test.sqlite"
    },
    "backup": {
        "location": "database",
        "save_interval_ms": null
    },
    "server": {
        "host": "localhost",
        "port": 8080
    }
}
