{
    "database": {
        "dialect": "sqlite",
        "storage": "database/test.sqlite",
        "username": "kaustubh",
        "password": "password",
        "name": "productivity"
    },
    "backup": {
        "location": "database",
        "save_interval_ms": null
    },
    "server": {
        "host": "localhost",
        "port": 8080
    }
}
