{
    "database": {
        "type": "sqlite",
        "location": "data/test.sqlite",
        "username": "kaustubh",
        "password": "password",
        "name": "productivity"
    },
    "backup": {
        "location": "data",
        "load_on_startup": false,
        "save_interval_ms": -1
    },
    "server": {
        "host": "localhost",
        "port": 8080
    }
}
