.input-line {
    flex: 1 1 auto;
    overflow: hidden;
    width: 0px;
}

.input-line.overflow {
    overflow: visible;
}

.input-line.styled {
    background-color: var(--input-background-color);
}
