.sidebar-section {
    border: 1px solid var(--background-color);
    border-radius: 4px;
    padding: 3px 8px 5px;
    margin: 4px 0;
    overflow: hidden;
}

.sidebar-section:hover {
    border-color: var(--component-highlight-color);
}

.sidebar-section.selected {
    background: var(--component-color);
    border-color: var(--component-highlight-color);
}

.sidebar-section > .header {
    color: var(--text-disabled-color);
}

.sidebar-section > .cursor {
    cursor: pointer;
}

.sidebar-section > .separator {
    border-bottom: 1px solid var(--component-highlight-color);
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.sidebar-section > li {
    width: 1000px;
}

.sidebar-section > li > a {
    left: -8px;
    position: relative;
}
