.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
    margin: 0;
}

.text-editor {
    position: relative;
}

.text-editor .public-DraftEditor-content {
    min-width: 100px;
}

.text-editor.styled {
    background: var(--input-background);
    color: var(--input-text-color);
}

.text-editor.styled .public-DraftEditor-content {
    background: var(--input-background);
    border-radius: 0 0.2rem 0.2rem 0;
    color: var(--input-text);
    min-height: 20px;
    padding: 1px 4px 0;
}

.text-editor.styled.disabled .public-DraftEditor-content {
    background: var(--input-disabled-background);
}

/* TextEditor Mention Suggestions + Dropdown Options (used by RBT Suggestions) */

.dropdown-menu,
.text-editor .mention-suggestions > div {
    background-color: var(--component-color);
    border: 1px solid var(--component-highlight-color);
    box-shadow: 0px 4px 30px 0px var(--component-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    min-width: 100px;
    position: absolute;
    z-index: 2;
}

.dropdown-item,
.text-editor .mention-suggestions > div > div {
    padding: 1px 16px;
}

.text-editor .mention-suggestions > div > div > span {
    font-size: inherit;
    margin: 0;
    overflow: inherit;
}

.text-editor .mention-suggestions > div > div[aria-selected="true"] {
    background-color: var(--suggestion-highlight-color);
}
