.details-section {
    background: #222;
    border-radius: 4px;
}

.details-section > * {
    padding: 4px;
}

.details-section .text-editor {
    overflow: scroll;
}

.details-section .public-DraftEditor-content {
    min-height: 200px;
}

.details-section > :last-child {
    border-top: 1px solid #222;
    color: var(--text-disabled-color);
    font-size: 10px;
    padding: 2px 4px;
}
