.details-section .text-editor {
    background-color: var(--component-color);
    padding: 4px;
}

.details-section .public-DraftEditor-content {
    min-height: 200px;
}

.details-section .footer {
    background-color: var(--component-color);
    color: var(--text-disabled-color);
    font-size: 10px;
    padding: 0 4px;
}
