body {
    --background-color: #111;
    --component-color: #222;
    --component-highlight-color: #333;
    --text-color: white;
    --text-disabled-color: #9197a3;
    --link-color: #3498DB;
    --link-background-color: rgba(80, 151, 213, 0.4);
    --topic-color: #00bc8c;
    --topic-background-color: rgba(108, 235, 182, 0.4);
    --input-text-color: #444;
    --input-background: #fff;
    --input-disabled-background: #ccc;
    --suggestion-highlight-color: #375a7f;
}
