.input-group-text {
    border: none;
    display: block;
    text-align: center;
}

.dropdown > button {
    border-radius: 0;
    width: 79px;
}

.btn.dropdown-toggle {
    box-shadow: none !important;
}

.form-control:disabled {
    background-color: #ccc;
}

.text-editor {
    flex-grow: 1;
    width: 1px;
}

.text-editor .public-DraftEditor-content {
    background: white;
    border: 1px solid #222;
    border-radius: 0 0.2rem 0.2rem 0;
    color: #444;
    min-height: 27px;
    padding: 1px 5px;
}

.text-editor .public-DraftStyleDefault-ul,
.text-editor .public-DraftStyleDefault-ol {
    margin: 0;
}

.text-editor > .mention-suggestions > div {
    background-color: #222;
    border: 1px solid #444;
    box-shadow: 0px 4px 30px 0px #222;
}

.text-editor > .mention-suggestions > div > div[aria-selected="true"] {
    background-color: #444;
}
