.input-group > * {
    border-radius: 0;
    height: 20px;
}

.input-group > :first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.input-group > :last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.input-group > .input-group-text {
    font-size: 13px;
}

.input-group > .input-group-text {
    border: none;
    display: block;
    padding: 1px;
    text-align: center;
    width: 100px;
}

.input-group > .compact-option {
    cursor: pointer;
    height: 20px;
    width: 13px;
}

.input-group > .btn {
    width: 20px;
    padding: 0px;
}

.input-group > .dropdown > .btn {
    border-radius: 0;
    height: 20px;
    padding: 0;
    position: relative;
    top: -1px;
    width: 100px;
}

.input-group > .dropdown:not(:first-child) > .btn {
    width: 80px;
}

.input-group > .rbt input:first-child {
    padding: 0 4px;
    height: 20px;
    border-width: 0 1px;
}

.input-group > .text-editor {
    flex-grow: 1;
    width: 1px;
    height: auto;
}

/* Misc */

.btn.dropdown-toggle {
    box-shadow: none !important;
}

.form-control:disabled {
    background-color: #ccc;
}

body {
    font-size: 13px;
    font-family: Lato;
}

/* Sortable */

button.sortableDragHandle.btn {
    cursor: grab;
    width: 20px;
}

.sortableDraggedItem {
   z-index: 10000;
}

/* Dropdown */

.dropdown-menu {
    font-size: 13px;
    font-family: Lato;
    min-width: 100px;
}

.dropdown-item {
    padding: 1px 16px;
}

/* Text Editor */

.text-editor.text-editor-disabled .public-DraftEditor-content {
    background: #ccc;
}

.text-editor .public-DraftEditor-content {
    background: white;
    border-radius: 0 0.2rem 0.2rem 0;
    color: #444;
    min-height: 20px;
    padding: 1px 4px 0;
}

.text-editor .public-DraftStyleDefault-ul,
.text-editor .public-DraftStyleDefault-ol {
    margin: 0;
}

.text-editor > .mention-suggestions > div {
    background-color: #222;
    border: 1px solid #444;
    box-shadow: 0px 4px 30px 0px #222;
}

.text-editor > .mention-suggestions > div > div[aria-selected="true"] {
    background-color: #444;
}
