.btn.dropdown-toggle {
    box-shadow: none !important;
}

.form-control:disabled {
    background-color: #ccc;
}

body {
    background-color: var(--background-color);
    font-size: 13px;
    font-family: Lato;
}

.log-viewer > span {
    color: var(--text-disabled-color);
}

/* Dropdown & Mention Suggestions */

.dropdown-menu,
.mention-suggestions > div {
    background-color: #222;
    border: 1px solid #444;
    box-shadow: 0px 4px 30px 0px #222;
    font-size: 13px;
    font-family: Lato;
    min-width: 100px;
}

.dropdown-item,
.mention-suggestions > div > div {
    padding: 1px 16px;
}

.mention-suggestions > div > div > span {
    font-size: inherit;
    margin: 0;
    overflow: inherit;
}

.mention-suggestions > div > div[aria-selected="true"] {
    background-color: #375a7f;
}

/* Modal */

.modal-dialog {
    max-width: 800px;
}

/* Index Section */

.index-section {
    margin-bottom: 128px;
}

.index-section .text-editor {
    max-width: 500px;
}
